<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.amosbake.animationsummary">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".BezierActivity">
    </activity>
    <activity android:name=".PathMorphActivity">
    </activity>
    <activity android:name=".PathMeatureActivity">
    </activity>
    <activity android:name=".draggviewhelper.DragViewHelperActivity"
        android:label="DragViewHelper的使用">>
      <intent-filter>
        <action android:name="android.intent.action.Draggable"/>
      </intent-filter>
    </activity>
    <activity android:name=".scroller.ScrollerActivity"
        android:label="Scroller的使用">
      <intent-filter>
        <action android:name="android.intent.action.Scroller"/>
      </intent-filter>
    </activity>
    <activity android:name=".scroller.ViewPositionActivity"
        android:label="View的定位">
      <intent-filter>
        <action android:name="android.intent.action.ViewPosition"/>
      </intent-filter>
    </activity>
    <activity android:name=".coordinatorLayout.CoordinatorActivity"
        android:label="CoordinatorLayout的使用"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.CoordinatorLayout"/>
      </intent-filter>
    </activity>
    <activity android:name=".scenetransition.SceneTransitionActivity"
        android:label="Scene&amp;Transition">
      <intent-filter>
        <action android:name="android.intent.action.SceneTransition"/>
      </intent-filter>
    </activity>
    <activity android:name=".touchdemo.TouchActivity"
        android:label="TouchDemo">
      <intent-filter>
        <action android:name="android.intent.action.TouchActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".twitterslike.TwitterLikeActivity"
        android:label="TwitterLike">
      <intent-filter>
        <action android:name="android.intent.action.TwitterLikeActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".constraintlayouttransition.ConstraintTransitionActivity"
        android:label="ConstraintTransition">
      <intent-filter>
        <action android:name="android.intent.action.ConstraintAnimActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".layouttransition.LayoutTransitionActivity"
        android:label="LayoutTransitionAnim">
      <intent-filter>
        <action android:name="android.intent.action.LayoutTransitionActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".recyclerviewanim.RecyclerActivity"
        android:label="RecyclerViewAnim">
      <intent-filter>
        <action android:name="android.intent.action.RecyclerActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".animationmisc.AnimationMiscActivity"
        android:label="AnimationMisc">
      <intent-filter>
        <action android:name="android.intent.action.AnimationMiscActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".layoutanimation_api1.LayoutAnimationActivity"
        android:label="LayoutAnimation_api1">
      <intent-filter>
        <action android:name="android.intent.action.LayoutAnimationActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".interpolators.InterpolatorActivity"
        android:label="Interpolators">
      <intent-filter>
        <action android:name="android.intent.action.InterpolatorActivity"/>
      </intent-filter>
    </activity>
    <activity android:name=".ripplennreveal.RippleActivity"
        android:label="Ripple">
      <intent-filter>
        <action android:name="android.intent.action.RippleActivity"/>
      </intent-filter>
    </activity>
  </application>

</manifest>